fieldset.airfilter {
  display: block;
  margin: 0px 2px 10px 2px;
  padding: 0 0.75em 0.625em 0.75em;
  border-width: 2px 0px 0px;
  border-style: groove;
}

.air-filter-table th,
.air-filter-table tr {
  padding: 0em 2em;
  text-align: right;
}
