<div>
  <div data-bind="if: sgp_index">
    <div class="control-group">
        <label class="control-label">{{ _('SGP40 Index') }}</label>
        <div class="controls" data-toggle="tooltip" title="{{ _('SGP40 index value, between 0 and 500. 100 is average.') }}">
            <input type="number" readonly data-bind="value: sgp_index">
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">{{ _('SGP40 Raw') }}</label>
        <div class="controls" data-toggle="tooltip" title="{{ _('SGP40 raw value (log scale), lower is more VOC.') }}">
            <input type="number" readonly data-bind="value: sgp_raw">
        </div>
    </div>
  </div>
  <div data-bind="if: temperature">
    <div class="control-group">
        <label class="control-label">{{ _('Temperature') }}</label>
        <div class="controls" data-toggle="tooltip" title="{{ _('HTU21D temperature') }}">
            <input type="number" readonly data-bind="value: temperature">
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">{{ _('Relative Humidity') }}</label>
        <div class="controls" data-toggle="tooltip" title="{{ _('HTU21D relative humidity') }}">
            <input type="number" readonly data-bind="value: relative_humidity">
        </div>
    </div>
  </div>

  <div id="air-filter-history" data-bind="onload: getHistory">
    <table class="air-filter-table">
      <thead>
        <tr>
          <th>Time</th>
          <th>Index</th>
          <th>Raw</th>
        </tr>
      </thead>
      <tbody data-bind="foreach: history">
        <tr>
          <td data-bind="text: time"></td>
          <td data-bind="text: parseFloat(index).toFixed(1), style: { 'background-color': $parent.indexColor(index) }"></td>
          <td data-bind="text: parseFloat(raw).toFixed(0), style: { 'background-color': $parent.rawColor(raw) }"></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
